-const tBorder = {border: "1px solid", padding: "5px"}

h1(style={"text-align": "center"}) User Profiles
h2(style={"text-align": "center"}) User Profile One
div(style={display: "flex", "justify-content": "center", width: "100%"})
	table(style={border: "1px solid", "border-collapse": "collapse"})
		tr
			th(style=tBorder) Gender
			th(style=tBorder) Age
			th(style=tBorder) Needs
			th(style=tBorder) Personality
			th(style=tBorder) Type (Commercial / Residential)
		tr
			td(style=tBorder) Female
			td(style=tBorder) Middle Age
			td(style=tBorder) Remodel Kitchen
			td(style=tBorder) Clean
			td(style=tBorder) Residential
		tr 
			td(style=tBorder) x 
			td(style=tBorder) x 
			td(style=tBorder) Remodel Bathroom
			td(style=tBorder) Perfectionist
			td(style=tBorder) x 
		tr 
			td(style=tBorder) x 
			td(style=tBorder) x 
			td(style=tBorder) Remodel Living Room 
			td(style=tBorder) x
			td(style=tBorder) x 
		tr 
			td(style=tBorder) x 
			td(style=tBorder) Retired
			td(style=tBorder) Addition
			td(style=tBorder) x
			td(style=tBorder) x 




h2(style={"text-align": "center"}) User Profile Two
div(style={display: "flex", "justify-content": "center", width: "100%"})
	table(style={border: "1px solid", "border-collapse": "collapse"})
		tr
			th(style=tBorder) Gender
			th(style=tBorder) Age
			th(style=tBorder) Needs
			th(style=tBorder) Personality
			th(style=tBorder) Type (Commercial / Residential)
		tr
			td(style=tBorder) Male
			td(style=tBorder) Middle Age
			td(style=tBorder) Remodel House General
			td(style=tBorder) Pacificst
			td(style=tBorder) Residential
		tr 
			td(style=tBorder) x 
			td(style=tBorder) Married
			td(style=tBorder) x
			td(style=tBorder) Carring
			td(style=tBorder) x 
		tr 
			td(style=tBorder) x 
			td(style=tBorder) x
			td(style=tBorder) New House
			td(style=tBorder) x
			td(style=tBorder) x 

h2(style={"text-align": "center"}) User Profile Two
div(style={display: "flex", "justify-content": "center", width: "100%"})
	table(style={border: "1px solid", "border-collapse": "collapse"})
		tr
			th(style=tBorder) Gender
			th(style=tBorder) Age
			th(style=tBorder) Needs
			th(style=tBorder) Personality
			th(style=tBorder) Type (Commercial / Residential)
		tr
			td(style=tBorder) Male
			td(style=tBorder) Younger
			td(style=tBorder) Garage add on
			td(style=tBorder) Outgoing
			td(style=tBorder) Residential
		tr 
			td(style=tBorder) x 
			td(style=tBorder) Single
			td(style=tBorder) x
			td(style=tBorder) x
			td(style=tBorder) x 
